* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

body {
  color: azure;
  height: 100vh;
}

.hero-section {
  background-color: #080a0c;
}

.container {
  height: 100vh;
  max-width: 1320px;
  padding: 64px 0;
  margin: 0 auto;
  display: grid;
  align-items: center;
}

.section-elements {
  padding-bottom: 100px;
}

.section-elements .container {
  height: 50vh;
  background-color: #a14c4c;
  border-radius: 10px;
  color: #080a0c;
}

.grid {
  display: grid;
  align-items: center;
  gap: 6.4rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.hero-content h1 {
  text-align: left;
  font-size: 54px;
}

.hero-content p {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 2rem 0 4rem 0;
}

img {
  max-width: 80%;
  height: auto;
}

.hero-content a {
  background-color: #fff;
  display: inline-block;
  padding: 10px 32px;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
}

.content-1,
.content-2 {
  text-align: center;
}

li {
  list-style: none;
  font-size: 48px;
}

/*? List of Pseudo Class  */

.hero-content a:link {
  color: rgb(10, 10, 10);
}

.hero-content a:visited {
  color: #d67e03;
}

.hero-content a:hover {
  color: #0062ff;
}

.hero-content a:active {
  color: #e65983;
}

/* .content-1:first-child {
  color: red;
} */

/* .content-1 ul:first-child {
  color: Red;
} */

.content-1 p:first-child {
  color: rgb(119, 0, 0);
}

.content-1 p:last-child {
  color: blue;
}

.content-1 li:last-of-type {
  color: blue;
}

.content-1 li:nth-of-type(2) {
  color: green;
}

.content-1 li:nth-child(odd) {
  color: red;
}

.p-class:nth-child(even) {
  color: red;
}
