* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color:#080808;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    padding: 8px 30px;
}
nav{
    width:100%;
    height: auto;
    background-color: aliceblue;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    flex-shrink: 5;
    flex-wrap: wrap;
    
}   
a{
    text-decoration: none;
    color: black;
    margin: 20px;
}
a:hover{
    text-transform: uppercase;
    color: orangered;
    cursor:pointer;
}
.logo{
  flex-grow: 1;
    flex-shrink:5;
}
.logo:hover{
    text-transform: uppercase;
    cursor:pointer;
    
}
